article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
img {
	max-width: 100%;
}

html {
	font-size: 62.5%;
	color: rgb(35,35,35);

	a {
		color: rgb(35,35,35);
	}
}

$fontPrimary: 'Playfair Display', serif;
$fontSecondary: 'Hind', sans-serif;
$sectionTitle__Subheading: rgb(172,173,174);
$weddingGallery: rgba(35,35,35, 0.8);

.sectionTitle {
	text-align: center;
	margin: 20px 0;
	position: relative;

	p {
		font-family: $fontSecondary;
		font-style: italic;
		color: $sectionTitle__Subheading;
		font-size: 1rem;
	}

	&:after {
		content: "";
		height: 1px;
		width: 200px;
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
		border-bottom: 1px solid black;
	}
}

p {
	font-family: $fontSecondary;
	font-weight: 700;
	font-size: .7rem;
	line-height: 1.15rem;
	// text-align: justify;
}

h1 {
	font-size: 2rem;
	font-family: $fontPrimary;
}

h2 {
	font-family: $fontPrimary;
	font-size: 1.8rem;
	margin: 0;
}

h3 {
	font-family: $fontPrimary;
	font-size: 1.2rem;
	font-weight: 700;
}

h4 {
	font-family: $fontPrimary;
	font-style: italic;
	font-size: 0.8rem;
	color: $sectionTitle__Subheading;
}


h5 {
	font-size: 1.7rem;
	margin: 0;
}

h6 {
	font-family: $fontPrimary;
	font-weight: 700;
	font-style: italic;
}

.h6width {
	width: 100%;
}

body {
	max-width: 1200px;
	margin: 0 auto;
}

.imgSize {
	max-width: 100%;
}

.nav {
	display: flex;
}

div.nav__Logo {
	width: 50%;
	font-family: 'Playfair Display', serif;
	display: flex;
	align-items: center;
}

.nav__Links--Container {
	width: 50%;
}

.nav__Links {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0;


	a {
		text-decoration: none;
	}
}

.hero {
	width: 95%;
	// position: relative;
}

.heroContainer {
	display: flex;
}

.hero__Controls {
	display: flex;
	align-items: center;
	text-align: center;
	transform: translateY(-100px);
	background: rgb(255,255,255);
	border-radius: 3px;

}

.hero__Controls--25 {
	width: 20%;
	display: flex;
}

.hero__Controls--25 div {
	width: 50%;
	display: flex;
	justify-content: center;
}

.hero__Controls--50 {
	width: 60%;
}

.sidebar {
	width: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.sidebar__Language {
	display: flex;
	flex-direction: column;
	height: 25%;
}

.sidebar__Pause {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar__Social {
	height: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.sidebar__Social div {
	margin: 10px 0;
}

.skinnyWrapper {
	width: 60%;
	margin: 0 auto;
}

.aboutUs {
	display: flex;
	margin: 50px 0;
	justify-content: center;
}

.aboutUs__Text {
	padding-top: 80px;

	p.subheading {
		color: $sectionTitle__Subheading;
		font-style: italic;
		font-size: 1rem;
		font-family: $fontPrimary;
		padding-bottom: 25px;
		// font-weight: 400;
	}
}

.aboutUs__Width {
	width: 50%;
}

.aboutUs__Image {
	background-image: url("../assets/ariel-lustre-232891.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.twoColumns {
	column-count: 2;
	font-family: $fontSecondary;
	line-height: 1.1rem;

	p:first-child {
		margin-top: 0;
	}
}

.sliderGallery {
	margin-left: 5%;
	margin-right: 15%;
	margin-top: 25px;
	margin-bottom: 25px;
	display: flex;
	position: relative;
}

.sliderControls {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(255,255,255,0.5);
	// width: 10%;

	div {
		width: 50%;
		display: flex;
		justify-content: center;
	}

	a {
		padding: 20px 25px;
	}
}

.sliderCell {
	position: relative;
}

.sliderGallery__Text {
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: justify;
}

.fourPanelGallery {
	width: 50%;
	display: flex;


	.width50 {
		width: 50%;
		margin: 20px 0;
	}
}

.fourPanel__Text {
	padding: 80px 10px 0px;
}

.fourPanel__Image1 {
	background-image: url("../assets/elijah-henderson-56885.jpg");
	background-size: cover;
	height: 250px;
}

.fourPanel__Image2 {
	background-image: url("../assets/worthy-of-elegance-42266.jpg");
	background-size: cover;
	height: 250px;
}

.fourPanel__Image3 {
	background-image: url("../assets/eli-defaria-14557.jpg");
	background-size: cover;
	height: 250px;
}

.fourPanel__Image4 {
	background-image: url("../assets/averie-woodard-142413.jpg");
	background-size: cover;
	height: 250px;
}

.translateDown {
	transform: translateY(50px);
}

.fourPanelGalleryContainer {
	display: flex;
	flex-wrap: wrap;
}

.fourPanelPadding {
	padding: 0 2.5px 5px;
}



.loadButton {
	text-align: center;
	margin: 40px 0;

	a {
		text-decoration: none;
		border: 1px solid black;
		padding: 5px 25px;
		transition: all 1s ease;
	}

	&:hover {
		text-decoration: line-through;
	}
}

.fatWrapper {
	width: 90%;
	margin: 0 auto;
}

.weddingBackground {
	background: $weddingGallery;
}

.weddingTitle {

	h2 {
		color: white;
		font-weight: normal;
	}

	p {
		color: white;
	}
}

.weddingGallery {
	padding: 1px 0 35px;
}

.weddingGallery__Three {
	display: flex;
	justify-content: space-between;
}

.weddingGallery__Three div {
	width: calc(33.3% - 5px);
	height: 150px;
}

.weddingGallery__Cell1 {
	background: url("../assets/wedding1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.weddingGallery__Cell2 {
	background: url("../assets/wedding2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.weddingGallery__Cell3 {
	background: url("../assets/wedding5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.weddingGallery__OneWide {
	background-image: url("../assets/wedding_wide.jpg");
	background-size: cover;
	height: 150px;
	background-position: center;
	margin-top: 10px;
}


.instagram {
	display: flex;
	margin: 50px auto;
	height: 200px;
}

.instagram__Background {
	background: rgb(250,248,247);
}

.instagram__Cell {
	width: 33.3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	position: relative;

	h2 {
		margin: 10px 0 0;
		width: 85%;
	}
}


.backgroundCenter {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: calc(50% - 10px);
	margin: 5px;
}

.instagram__Gallery1 {
	background-image: url("../assets/brooke-cagle-39568.jpg");
}

.instagram__Gallery2 {
	background-image: url("../assets/brooke-cagle-39568.jpg");
}

.instagram__Gallery3 {
	background-image: url("../assets/brooke-cagle-39568.jpg");
}

.instagram__Gallery4 {
	background-image: url("../assets/brooke-cagle-39568.jpg");
}
.instagram__Gallery5 {
	background-image: url("../assets/brooke-cagle-39568.jpg");
}
.instagram__Gallery6 {
	background-image: url("../assets/brooke-cagle-39568.jpg");
}
.instagram__Gallery7 {
	background-image: url("../assets/brooke-cagle-39568.jpg");
}
.instagram__Gallery8 {
	background-image: url("../assets/brooke-cagle-39568.jpg");
}

footer {
	text-align: center;
}

.socialMedia {
	display: flex;
	justify-content: center;
}


.brillianBox {
	position: absolute;
	top: calc(50% - 65px);
	margin: 0 auto;
	transform: rotate(45deg);
	width: 130px;
	height: 130px;
	box-shadow: 0px 0px 10px 1px rgba(219,215,219,1);
	display: flex;
	align-items: center;
	justify-content: center;

	h5 {
		transform: rotate(-45deg);
	}
}


// BLOG STYLING

.heroBottom {
	height: 75px;
	background: rgb(250,248,247);
}

.blog__Header {
	width: 75%;
	margin: 0 auto;
}

.blog__HeaderColor {
	background: rgb(250,248,247);
}

.blogText {
	padding: 25px 0;
}

.blog__Entry {
	background-image: url('../assets/larm-rmah-152446.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	padding: 225px 50px 50px;
}

.entryName, .entrySocial {
	display: flex;
	justify-content: center;
	background: white;
	width: 75%;
	margin: 0 auto;
}

.galleryNav {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.blogGallery {
	transform: translateY(-90px);
}

.entryName__Cell {
	padding: 0px 5px;
	margin: 10px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

	&:nth-child(2) {
		border: 1px solid black;
	}
}

.entrySocial__Cell {
	padding: 0 7px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	p {
		margin-left: 5px;
	}

	i {
		color: grey;
	}
}

.galleryNav a {
	text-decoration: none;
	padding-top: 7px;
	transition: all .4s ease;
	border-top: 2px solid white;

	&:hover {
		border-top: 2px solid black;
	}
}
.galleryNav__Digits a {
	padding: 7px 5px;
	margin: 0 3px;
}
